.section {
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.skill {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    transition: all 0.5s;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    gap: 10px;
}

.skill img {
    max-width: 64px;
}

.project {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    transition: all 0.5s;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
}

.project p, .project h3 {
    cursor: pointer;
}

.project img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.tag {
    border-radius: 10px;
    padding: 5px;
    border: 5px solid;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.simple-icon {
    max-width: 10px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.button-contato {
    padding: 10px;
    border-radius: 10px;
    border: 2.5px solid white;
    background: rgb(35,94,41);
    background: linear-gradient(0deg, rgba(35,94,41,1) 1%, rgba(72,196,86,1) 86%);
    color: white;
}

.button-email {
    background: rgb(88,88,88);
    background: linear-gradient(0deg, rgba(88,88,88,1) 0%, rgba(128,128,128,1) 64%);
}

.personal-image {
    max-width: 500px; /* Largura máxima para telas maiores */
    width: 100%;      /* Garante que a imagem nunca ultrapasse o pai */
    height: auto;
}

.description_curso {
    max-width: 80%;
}

.project-post a{
    color: #3687ff;
    text-decoration: underline;
}

@media only screen and (min-width: 600px) {
    .w-md-auto {
        width: auto !important;
    }

    .description_curso {
        max-width: 50%;
    }
}

@media only screen and (min-width: 500px) {
    .w-sm-auto {
        width: auto !important;
    }
}
