.section {
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.skill {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
    transition: all 0.5s;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.skill img {
    max-width: 64px;
}

.project {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    transition: all 0.5s;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
}

.project p, .project h3 {
    cursor: pointer;
}

.project img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.tag {
    border-radius: 10px;
    padding: 5px;
    border: 5px solid;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.simple-icon {
    max-width: 10px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
